.about {
  padding: 2rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.918);
}

.about h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: #fff;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
}

.about h2.visible {
  opacity: 1;
  transform: translateY(0);
}

.about-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 45px;
}

.about-photo {
  position: relative;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
}

.about-photo.visible {
  opacity: 1;
  transform: translateY(0);
}

.about-photo img {
  margin-right: 5px;
  width: 375px;
  height: 375px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.6);
}

.about-photo img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.8);
}

.about-bio {
  max-width: 500px;
  text-align: justify;
  font-size: 1.1rem;
  line-height: 1.6; /* Ajusta el line-height según tus preferencias */
  color: #fff;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
}

.hello-text {
  font-size: 1.9rem; /* Ajusta el tamaño de la palabra "Hello" */
}

.about-bio p {
  margin: 0; /* Elimina el margen predeterminado del párrafo */
}

.about-bio.visible {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 768px) {
  .about-container {
    flex-direction: column; /* Cambia a columna en dispositivos móviles */
    align-items: center; /* Centra horizontalmente en dispositivos móviles */
  }

  .about-photo img {
    width: 250px; /* Reducir tamaño de la imagen en dispositivos móviles */
    height: 250px; /* Reducir tamaño de la imagen en dispositivos móviles */
  }

  .about h2 {
    margin-top: 0.1rem; /* Ajusta el margen superior en dispositivos móviles */
    margin-bottom: 40px;
  }
}